<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>图片上传</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">

            <!--列表-->
            <div class="columns is-multiline">
                {{#each list}}
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://imgs.nancode.cn/{{key}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">http://imgs.nancode.cn/{{key}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>
    </section>
</div>
{{> footer}}
{{#> _script }}
    <script>

    </script>
{{/_script}}
</body>
</html>
