<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>500</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">
            <div class="columns content">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="title">
                        <img src="/images/eye-off.svg" alt="">
                        500
                    </h1>
                    <p class="subtitle">
                        Uh, shit. 服务器错误
                    </p>
                    {{#if error}}
                        <hr>
                        <p class="error">{{error}}</p>
                    {{/if}}
                    <hr>
                    <p>Better go back to safe lands, like the <a href="/">HOME</a>.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}
</body>
</html>
