<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>404</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">

        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

