<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>404</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">
            <div class="columns content">
                <div class="column">
                    <h2>Top Movies</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns content">
                {{#each movies}}
                    <div class="column">
                        <a href="/movies/{{ids.slug}}">
                            <img src="{{images.poster}}" width="">
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns content">
                <div class="column">
                    <h2>Top TV Shows</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns content">
                {{#each shows}}
                    <div class="column">
                        <a href="/shows/{{ids.slug}}">
                            <img src="{{images.poster}}" width="">
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

</div>
{{> footer}}
</body>
</html>

