<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>500</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">
            <div class="columns content">
                <div class="column"></div>
                <div class="column is-three-quarters">
                    <h1 class="title">
                        <img src="/images/zap.svg" alt="">
                        {{method}} {{path}}
                    </h1>
                    <hr>
                    <p>
                        <strong>Error Details</strong>
                        <br>
                        {{message}}
                    </p>
                    <pre><code>{{{stack}}}</code></pre>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

