<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>注册成功</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">
            <div class="columns content">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="title"><img src="/images/check-circle.svg" alt=""> 注册成功了</h1>
                    <br>
                    <p class="subtitle">欢迎你的加入，本站提供大量的在线学习视频！</p>
                    <hr>
                    <div class="notification is-success">
                        <p>你的账号已经创建，下一步：记住你的账号，登录你的账号即可！</p>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

