html {
    background: hsl(210, 17%, 95%);
}

body {
    font-family: sans-serif;
}

button.button,
input[type='submit'].button {
    font-weight: 500;
}

video {
    max-width: 100%;
    height: auto;
}


.label {
    font-weight: 500;
}

label.is-danger {
    color: #ff3860;
}

.error {
    color: #ff3860;
}


.navbar{
}


