<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>首页</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">
            <div class="columns is-desktop">
                <div class="column">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by2"><img src="//oooooooooooooooo.nancode.cn/course/1.jpg" alt="Placeholder image"></figure>
                            </div>
                            <div class="card-content">
                                <div class="content">高性能可扩展MySQL数据库</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by2"><img src="//oooooooooooooooo.nancode.cn/course/2.jpg" alt="Placeholder image"></figure>
                            </div>
                            <div class="card-content">
                                <div class="content">Redis从入门到高可用，分布式实践</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by2"><img src="//oooooooooooooooo.nancode.cn/course/3.jpg" alt="Placeholder image"></figure>
                            </div>
                            <div class="card-content">
                                <div class="content">四大维度解锁Webpack3前端工程化</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by2"><img src="//oooooooooooooooo.nancode.cn/course/4.jpg" alt="Placeholder image"></figure>
                            </div>
                            <div class="card-content">
                                <div class="content">全面系统讲解CSS工作应用</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="columns is-desktop">
                <div class="column is-one-quarter">
                    <a href="">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by2"><img src="//oooooooooooooooo.nancode.cn/course/5.jpg" alt="Placeholder image"></figure>
                            </div>
                            <div class="card-content">
                                <div class="content">揭秘一线互联网企业 前端JavaScript高级面试</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

