<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title></title>
        <link rel="stylesheet" href="/css/DPlayer.min.css">
        <style>
        </style>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container box">
            <div class="columns is-one-quarter">
                <div class="column">

                </div>
                <div class="column ">

                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}

{{#> _script }}
    <script src="/js/DPlayer.min.js"></script>
    <script>
        $(function () {

        })
    </script>
{{/_script}}
</body>
</html>


